body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.nav {
    background-color: #333;
    width: 100%;
    border-collapse: collapse;
    padding: 0%;
    margin: 0%;
}
.links {
    width: 10%;
    text-align: center;
}
.links a {
    text-decoration: none;
    color: white;
    font-size: medium;
}
.links:hover {
    background-color:darkcyan;
}
#title {
    width: 50%;
    margin: 2.5%;
    margin-top: 1%;
    padding-left: 2.5%;
}
#title a {
    text-decoration: none;
    color: white;
}
.foot {
    background-color: #333;
    color: white;
    width: 100%;
}
#logo {
    max-width: 10%;
    max-height: 10%;
    position: relative;
    top: 10px;
    border-radius: 100px;
}