
#start-top {
    padding: 0%;
    margin-top: 15%;
    text-align: center;
    overflow: hidden;
    transition: 1s;
}
#top-content1 {
    width: max-content;
    padding-left: 1%;
    padding-top: 0.001%;
    color: white;
}
#top-content2 {
    width: max-content;
    padding-left: 1%;
    padding-top: 0.001%;
    color: white;
}
.offer {
    color: white;
}
#containers {
    opacity: 0;
    transition: 3s;
}
.sim {
    text-align: center;
    width: 25%;
    background-color: darkslateblue;
    padding: 2%;
    margin: 2%;
    float: left;
    color: white;
}
.data {
    text-align: center;
    width: 25%;
    background-color: darkmagenta;
    padding: 2%;
    margin: 2%;
    float: left;
    color: white;
}
.play {
    text-align: center;
    width: 25%;
    background-color: indianred;
    padding: 2%;
    margin: 2%;
    float: left;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
body {
    background-image: url("bg-home.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
